$tablet-width: "(min-width: 767px)";
$desktop-width: "(min-width: 1150px)";
$mobile-widths-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$font: 'OpenSans', 'Arial', sans-serif;
