.about-us{
  @include container;
}
.about-us__title{
  @include title-main;
}
.about-us__list{
  list-style: none;
  margin-top: 30px;
}
.about-us__item{
  padding: 53px 0 30px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  &--eco{
    background: url("../img//icon-feature-1.svg") 0% 0% no-repeat;
  }
  &.about-us__item--style{
    background: url("../img//icon-feature-3.svg") 0% 0% no-repeat;
  }
  &--like{
    background: url("../img//icon-feature-5.svg") 0% 0% no-repeat;
  }
  &--heand{
    background: url("../img//icon-feature-2.svg") 0% 0% no-repeat;
  }
  &--russian{
    background: url("../img//icon-feature-4.svg") 0% 0% no-repeat;
  }
  &--gift{
    background: url("../img//icon-feature-6.svg") 0% 0% no-repeat;
  }
}
.about-us__item:last-child{
  padding-bottom: 0;
}
.about-us__item br{
  display: none;
}

@media #{$tablet-width} {
  .about-us{
    padding-top: 48px;
    padding-bottom: 85px;
  }
  .about-us__list{
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-top: 50px;
  }
  .about-us__item{
    font-size: 20px;
    line-height: 22px;
    padding-top: 50px;
    padding-bottom: 61px;
  }
  .about-us__item br{
    display: inline;
  }
  .about-us__list .about-us__item:last-of-type{
    padding-bottom: 0;
  }
}

@media #{$desktop-width} {
  .about-us{
    width: 700px;
    padding: 65px 175px 90px 175px;
  }
  .about-us__list{
    width: 346px;
    margin-top: 52px;
  }
}
