.about-us{
  @include container;
}
.about-us__title{
  @include title-main;
}
.about-us__list{
  list-style: none;
  margin-top: 30px;
}
.about-us .about-us__list:nth-of-type(2){
  margin-top: 0;
}
.about-us__item{
  padding: 55px 0 35px 0;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  &--eco{
    background: url("../img//icon-feature-1.svg") 0% 0% no-repeat;
  }
  &.about-us__item--style{
    background: url("../img//icon-feature-3.svg") 0% 0% no-repeat;
  }
  &--like{
    background: url("../img//icon-feature-5.svg") 0% 0% no-repeat;
  }
  &--heand{
    background: url("../img//icon-feature-2.svg") 0% 0% no-repeat;
  }
  &--russian{
    background: url("../img//icon-feature-4.svg") 0% 0% no-repeat;
  }
  &--gift{
    background: url("../img//icon-feature-6.svg") 0% 0% no-repeat;
  }
}
.about-us__item br{
  display: none;
}

@media #{$tablet-width} {
  .about-us{
    padding-bottom: 90px;
  }
  .about-us__list{
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  .about-us .about-us__list:nth-of-type(2){
    margin-top: 30px;
  }
  .about-us__item br{
    display: inline;
  }
  .about-us__list .about-us__item:last-of-type{
    padding-bottom: 0;
  }
}

@media #{$desktop-width} {
  .about-us{
    width: 700px;
    padding: 65px 175px 90px 175px;
  }
  .about-us__list{
    width: 340px;
  }
}
