.btn{
  display: block;
  width: 100%;
  margin: 25px 0;
  padding: 14px 0;
  background-color: #fff;
  border: 2px solid #444;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 18px;
  font-size: 1.2rem;
  line-height: 20px;
  line-height: 1.3333rem;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  &:hover{
    background-color: #444;
    color: #fff;
  }
  &:active{
    color: rgba(255,255,255,.3);
  }
}
.btn--blue{
  background-color: #63d1bb;
  border-color: #63d1bb;
  color: #fff;
  &:hover, &:active{
    background-color: #46c1ae;
    border-color: #46c1ae;
  }
}
