.cart-form{
  @include container;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0px 5px 10px 0px rgba(0, 1, 1, .25);
  text-align: center;
}
.cart-form__title{
  padding-top: 10px;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.cart-form__choose-size{
  border: none;
}
.cart-form__legend{
  margin-bottom: 30px;
}
.cart-form__input-size{
  display: none;
}
.cart-form__size{
  display: inline-block;
  width: 80px;
  height: 50px;
  border: 1px solid #ececec;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  &:hover{
    border-color: #c7c7c7;
  }
  &:active{
    border-color: #63d1bb;
  }
}
.cart-form__input-size:checked + .cart-form__size {
    border-color: #63d1bb;
}

@media #{$tablet-width} {
  .cart-form{
    width: 355px;
    padding: 50px 105px;
  }
  .cart-form__title{
    font-size: 30px;
  }
  .cart-form__legend{
    font-size: 17px;
  }
  .cart-form__size{
    width: 108px;
  }
  .cart-form__btn{
    width: 350px;
  }
}
