.page-footer{
  background-color: #f1f1f1;
}
.page-footer__wrapper{
  @include container;
  padding-top: 26px;
  padding-bottom: 23px;
  text-align: center;
  margin: 0 auto;
}
.page-footer__logo{
  display: none;
}
.page-footer__social{
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
.page-footer__copyright{
  height: 34px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  color: #000;
}
.page-footer__copyright-link{
  display: inline-block;
  padding-right: 60px;
  height: 34px;
  text-decoration: none;
  font-size: 19px;
  line-height: 34px;
  background: url("../img/logo-htmlacademy.svg") 100% 50% no-repeat;
  &:hover, &:active{
    background: url("../img/logo-htmlacademy-hover.svg") 100% 50% no-repeat;
  }
  &:active{
    opacity: 0.3;
  }
}

@media #{$tablet-width} {
  .page-footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    min-width: 668px;
  }
  .page-footer__logo{
    display: block;
    padding: 0;
    width: 180px;
    height: 34px;
    background: url("../img/logo-footer.svg") 0% 100% / 102px 34px no-repeat;
    &:hover{
      background-image: url("../img/logo-footer-hover.svg");
    }
    &:active{
      background-image: url("../img/logo-footer-hover.svg");
      opacity: 0.3;
    }
  }
  .page-footer__logo a{
    display: block;
    width: 134px;
    height: 34px;
  }
  .page-footer__social{
    width: 180px;
    padding: 0;
    padding-top: 5px;
    border: none;
  }
  .page-footer__copyright{
    //width: 180px;
    margin: 0;
    margin-top: 5px;
    text-align: right;
  }
}

@media #{$desktop-width} {
  .page-footer__wrapper{
    width: 1050px;
    padding: 50px 0;
  }
  .page-footer__copyright{
    margin-top: 0;
  }
  .page-footer__copyright-link{
    margin-top: 0;
    padding-right: 60px;
    background-position: 96% 50%;
  }
}
