.production{
  width: 81.25%; /*% 260/320 */
  margin: 30px auto;
  margin-bottom: 60px;
  padding-bottom: 5px;
  border: 1px solid #ececec;
  max-width: 480px;
}
.production__title{
  display: block;
  margin: 24px 12.69% 25px 12.69%; /*% 33/260 */
  padding-left: 55px;
  background: url("..//img/icon-video.svg") 0% 50% no-repeat;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.production__video-wrapper img{
  display: block;
  margin: 0 auto;
}
.production p{
  margin: 27px 12.69% 25px 12.69%; /*% 33/260 */
  font-size: 13.5px;
}
.production__btn{
  font-size: 17px;
  width: 73.07%; /*% 190/260 */
}

@media #{$tablet-width} {
  .production{
    display: flex;
    flex-direction: column;
    width: 86.97%; /*% 668/768 */
    max-width: 800px;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 63px;
  }
  .production__video-wrapper{
    order: -1;
  }
  .production__video-wrapper img{
    width: 100%;
    height: auto;
  }
  .production__title{
    margin: 36px 5.98% 30px 5.98%; /*% 40/668 */
    font-size: 20px;
    padding-left: 65px;
  }
  .production p{
    margin: 0 5.98%; /*% 40/668 */
    margin-top: 3px;
    font-size: 15px;
  }
  .production__btn{
    margin: 34px auto; /*% 40/668 */
    margin-bottom: 38px;
    width: 88.04%;
  }
}

@media #{$desktop-width} {
  .production{
    flex-wrap: wrap;
    width: 1050px;
    height: 460px;
    max-width: inherit;
    margin: 55px auto;
    margin-bottom: 95px;
    padding-bottom: 0;
  }
  .production__video-wrapper{
    width: 680px;
    overflow: hidden;
  }
  .production__video-wrapper img{
    width: auto;
    height: 460px;
  }
  .production__title{
    width: 230px;
    margin: 42px 60px 35px 80px;
    padding: 0;
    padding-top: 55px;
    background-position: 0% 0%;
  }
  .production p{
    width: 230px;
    margin-top: 0;
    margin-right: 60px;
    margin-left: 80px;
    font-size: 15px;
  }
  .production__btn{
    width: 230px;
    margin-right: 60px;
    margin-left: 80px;
    margin-top: 45px;
  }
}
