.reviews{
  @include container;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  background: url("../img/zigzag-border.svg") 0% 100% / auto 7px repeat-x;
}
.reviews__title{
  @include title-main;
}
.reviews__item p{
  line-height: 30px;
}
.reviews__author{
  margin-top: 23px;
  font-family: "OpenSans Bold", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold; 
}
.reviews__contact{
  margin-top: 0;
}
.reviews__btn-wrapper{
  width: 260px;
  margin: 0 auto;
}
.reviews__prev,
.reviews__next{
  display: inline-block;
  height: 50px;
  overflow: hidden;
  border: 1px solid #ececec;
  color: transparent;
  cursor: pointer;
  margin: 30px 0 15px 0;
  &:hover, &:active{
    background: #fff;
  }
}
.reviews__prev{
  width: 128px;
  //border-right: none;
  background: url("../img//icon-left-arrow.svg") 50% 50% no-repeat;
}
.reviews__next{
  width: 128px;
  background: url("../img//icon-right-arrow.svg") 50% 50% no-repeat;
}

@media #{$tablet-width} {
  .reviews{
    padding-top: 78px;
    padding-bottom: 78px;
    background: url("../img//review@1x.jpg") 0% 0% no-repeat, url("../img/zigzag-border.svg") 0% 100% / auto 17px repeat-x;
  }
  .reviews__item p{
    margin-top: 45px;
  }
  .reviews__item .reviews__author{
    width: 50%;
    margin-top: 55px;
    font-size: 18px;
  }
  .reviews__item .reviews__contact{
    width: 50%;
    margin-top: 0;
    padding-bottom: 55px;
  }
  .reviews__btn-wrapper{
    width: 25.15%; /*% 168/668 */
    margin-top: -140px;
    margin-left: 74.85%; /*% 500/668 */
  }
  .reviews__prev,
  .reviews__next{
    border: none;
    width: 48%;
  }
  .reviews__title{
    order: -2;
  }
  .reviews__btn{
    order: -1;
    width: 175px;
    height: 20px;
    margin: 0;
    margin-left: auto;
  }
}

@media #{$desktop-width} {
  .reviews{
    width: 875px;
    padding: 72px 0 125px 175px;
  }  
  .reviews__item .reviews__author{
    width: 350px;
    margin-top: 35px;
  }
  .reviews__item .reviews__contact{
    width: 350px;
  }
  .reviews__btn{
    margin-top: 8px;
  }
  .reviews__btn-wrapper{
    width: 175px;
    margin-top: -140px;
    margin-left: 700px;
  }
}
