.title-h1{
  display: block;
  width: 81.25%; /*% 260/320 */
  padding: 73px 9.375% 75px 9.375%; /*% 30/320 */
  background-color: #f1f1f1;
  font-size: 27px;
  line-height: 30px;
  color: #000;
  text-align: center;
}

@media #{$tablet-width} {
  .title-h1{
    @include title-main;
    max-width: inherit;
    padding-top: 100px;
    padding-bottom: 85px;
    margin-top: -81px;
    border-top: 1px solid #ececec;
    background: url("../img/bg-zigzag-fill.svg") 0% 100% / auto 35px repeat-x, #f1f1f1;
  }
}

@media #{$desktop-width} {
  .title-h1{
    width: 100%;
    padding: 98px 0;

  }
}
