.week-prod{
  @include container;
  padding-bottom: 25px;
  background: url("../img/zigzag-border.svg") 0% 100% / auto 7px repeat-x;
}
.week-prod__title{
  @include title-main;
}
.week-prod__title-week{
  margin-top: 10px;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}
.week-prod__table{
  width: 100%;
}
.week-prod__table-td{
  height: 39px;
  border-bottom: 1px solid #ececec;
}
.week-prod__table-td:first-child{
  width: 37.69%; /*% 98/260 */
}
.week-prod__img{
  display: block;
  margin: 0 auto;
  margin-top: 28px;
}
.week-prod__price{
  font-family: "OpenSans Bold", sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

@media #{$tablet-width} {
  .week-prod{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-size: auto 17px;
  }
  .week-prod__title-week{
    width: 70px;
    text-align: center;
  }
  .week-prod__table-wrapper{
    width: 43.41%; /*% 290/668 */
  }
  .week-prod__img{
    width: 50%;
    height: auto;
    align-self: flex-start;
  }
}

@media #{$desktop-width} {
  .week-prod{
    justify-content: flex-start;
  }
  .week-prod__title{
    padding-left: 105px;
    padding-top: 135px;
    z-index: 2;
  }
  .week-prod__title-week{
    order: -1;
    padding-top: 135px;
  }
  .week-prod__table-td:first-child{
    width: 95px;
  }
  .week-prod__img{
    margin-top: -120px;
  }
}
